---
import BaseLayout from '../layouts/BaseLayout.astro'
import CardPostLayout from '../layouts/CardPostLayout.astro'
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}))
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
	<BaseLayout>
		<ul>
			{allPosts.map((post: any) => <CardPostLayout
				img={post.frontmatter.image.url}
				title={post.frontmatter.title}
				description={post.frontmatter.description}
				date={post.frontmatter.pubDate}
				link={post.url}
			/>) }
		</ul>
	</BaseLayout>
	
  </body>
</html>